# -- Misc ----------------------------------------------------------------------

.cfg
.config/.cfg

# -- Vim -----------------------------------------------------------------------

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~
.netrwhist
.vim

# -- PYTHON --------------------------------------------------------------------

.venv
venv
